body{
    background-image: linear-gradient(rgb(233, 182, 250),rgb(242, 166, 212),rgb(195, 235, 248));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height:100vh;
    
}
.logo{
    width:50px;
    display:block;
    margin:auto;
    padding:20px;
}
.container{
    max-width:980px;
    margin:auto;
    height:60vh;
    overflow-y:auto;
    padding:33px;
    /* border:2px solid plum; */
    margin-bottom:23px;
    /* background-color: rgb(251, 223, 248); */
}
/* For WebKit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}
.container::-webkit-scrollbar-track {
    background: none; /* Color of the scrollbar track */
}  
.container::-webkit-scrollbar-thumb {
    background: #999595; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the thumb */
}
  
.container::-webkit-scrollbar-thumb:hover {
    background: #838181; /* Color of the scrollbar thumb on hover */
}
.message{
    background-color: rgba(170, 164, 164, 0.988);
    width:24%;
    padding:10px;
    margin:17px 3px;
    border-radius: 6px;
    border: 2px solid rgba(43, 40, 40, 0.289);
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}

#send-container{
    display:flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    max-width:980px;
    /* position:fixed;
    bottom:5px;
    left:150px;
    right:150px; */
    margin-top:20px;
}
#messageInp{
    width:900px;
    max-width:90%;
    border:2px solid rgba(0, 0, 0, 0.479);
    border-radius: 6px;
    height:30px;
    padding:5px;
    padding-left: 15px;
    margin:5px;
    /* position:fixed;
    bottom:5px;  */
}
.btn{
    height:44px;
    border:2px solid rgba(0, 0, 0, 0.653);
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    padding:8px;
    /* position:fixed;
    bottom:5px; */
}
.btn:hover{
    background-color:rgb(199, 194, 194);
}